<div class="jumbotron">
  <h1 style="text-shadow: 3px 3px 2px #FFC700, 3px 3px 2px #EEEEEE;">
  	Servos Taxi - Financeiro 
  </h1>
  <p class='center'>
  <%= link_to "Entrar no Sistema", new_user_session_path, class: "btn btn-primary btn-lg" %>
  </p>
</div>
 

